/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.produto {
  background: #dfdfdf;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}
